* {
  box-sizing: border-box;
}
.element {
  // border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(36, 110, 185, 1);
  color: beige;
  padding-left: 2em;
}
.img {
  width: 20%;
}
img {
  width: 100%;
  //object-fit: cover;
  margin: 15px auto;
  padding: 0.5em 1em;
}
.rate {
  width: 15%;
  font-size: 2em;
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 450px) {
  img {
    width: 100%;
  }
}
