.fullWidth {
    width: 100%;    

    #accomWeather  {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        color: #fff;

        h3 {
            padding-right: 40px;
        }

        #linkAccomodation {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            padding: 20px 30px 20px 0;
            
            i {
                padding-left: 5px;
            }
        }
    }
    .cityInformation {
        display: flex;
        height: 500px;

        .cityInfoLeft {             
            flex: 2;
        }
        .cityInfoRight {            
            flex: 1;
        }
    }    
}
@media (max-width: 1260px) {

    .fullWidth {

        .cityInformation {
           flex-direction: column;
           height: 100%;

            .cityInfoRight {   

                .map {
                    width: 100%;
                    height: 500px;
                }     
            }
            .cityInfoLeft {
                .wrapElement {
                    width: 80%;
                    margin-left: 20px;
                }
            }
        }    
          
    }
}
@media (max-width: 960px) { 
    .fullWidth {

        .cityInformation {
           flex-direction: column;

            .cityInfoLeft {
                .wrapElement {
                    width: 95%;  
                    margin: 10px; 
                }
            }
        }
    }
}