.cityLife, .transportation, .accomodation{
    background-color: #101e3e;
    height: auto;
    width: 100%;   
    position: relative;    

    h1 { 
        display: inline-block;
        color: #fff;        
        padding: 25px 20px 25px 40px;
        font-weight: normal;       
    }
    span i {
        color: #fff;
        font-size: 20px;
    }
    .cityLifestyle, .transportStyle{  
        display: flex;
        justify-content: center;  
        flex-flow: row wrap; 
        text-align: center;  
        padding-bottom: 55px;    
        // overflow: hidden;  

        div {
            height: 140px;
            width: 140px;
            padding: 10px;
            font-weight: 700;
            cursor: pointer;
        }

        .color0 p, .color0 i  {
            color: #ecdf7c;
        }
        .color1 p, .color1 i  {
            color:#89e6f5d1;
        }
        .color2 p, .color2 i  {
            color: #f7a870;
        }
        .color3 p, .color3 i  {
            color: #48c3bc;
        }
        .color4 p, .color4 i  {
            color: #fd7878;
        }
        .color5 p, .color5 i  {
            color: #c9e4be;
        }
        i {
            color: #fff;
            font-size: 25px;
            margin: 25px;
        }
        p {
            color: #fff;
            font-size: 16px;
        }
    }
    .accomodationStyle {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }    
}
.accomodationStyle {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.accomodation {
    background-color:rgba(193, 64, 4, 0.7);
}
.transportation {
    background-color: #033f5a;
}
#hidden {
    display: none; 
}   
#visible {
    display: flex;    
}
// #hidden {   
//     height: 0px;
//     transition: linear 0.4s;   
// }    
// #visible {  
//     height: 230px;
//     transition: linear 0.4s;    
// }






