* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.feedbackCard {
  width: 430px;
  position: relative;  
  padding: 15px 10px 20px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 2px 2px 15px rgb(36, 35, 35);
  margin: 15px;
}
.iconDiv i {
  position: absolute;
  right: 15px;
  top: 15px;
}
#userImg {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  padding: 0;
}
.nameTitleBar {
  width: 100%;
  display: flex;
}
.nameTitle {
  width: 80%;
  padding-top: 8px;
  padding-left: 15px;
}
.nameTitle h3 {
  padding-bottom: 5px;
}
.feedbackCard p {
  padding: 10px 20px 15px;
  text-align: justify;
  font-size: 15px;
}
