@import "../../index.scss";
.cityDiv {
  .cityHeader {
    display: flex;
    .cHeaderLeft {
      display: flex;
      flex: 1;
    }
    .cHeaderRight {
      flex: 1;
    }
  }
  .aInfoDiv {
    border: 1px solid red;
    display: flex;
    align-items: center;
    .aInfoLeft {
      flex: 1;
    }
    .aInfoRight {
      flex: 1;
    }
  }
  .cityInfo {
    display: flex;
    height: 100vh;
    background-color: grey;
    border: 1px solid black;

    .cInfoLeft {
      flex: 4;
    }
    .cInfoRight {
      height: 400px;
      flex: 1;
    }
  }
  .hotelReviews {
    .reviewsHeder {
      display: flex;
    }
  }
}

.flex {
  flex: 1;
}

/* Ikone*/
.color0 {
}
