@import "../../index.scss";

.aInfoDiv {
  border: 1px solid red;
  display: flex;
  align-items: center;
  .aInfoLeft {
    flex: 1;
  }
  .aInfoRight {
    flex: 1;
  }
}

.cityHeader {
  display: flex;
  .cHeaderLeft {
    flex: 1;
  }
  .cHeaderRight {
    flex: 1;
  }
}

.cityInfo {
  display: flex;
  .cInfoLeft {
    flex: 2;
  }
  .cInfoRight {
    flex: 1;
  }
}
.flex {
  flex: 1;
}
