.wrapBar {
  display: flex;
  align-items: center;
  height: 10px;
  margin-top: 10px;
}
.barBack {
  width: 90%;
  height: 4px;
  background-color: rgb(187, 186, 186);
}
.bar {
  width: 90%;
  height: 4px;
  background-color: rgb(172, 41, 95);
}
