.adminContainer {
  height: 960px;

  background: linear-gradient(
    236deg,
    #206db7,
    #4e25ce,
    #9925ce,
    #ce257d,
    #25ce7d
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 2%;
    }
    50% {
      background-position: 100% 99%;
    }
    100% {
      background-position: 0% 2%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 2%;
    }
    50% {
      background-position: 100% 99%;
    }
    100% {
      background-position: 0% 2%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 2%;
    }
    50% {
      background-position: 100% 99%;
    }
    100% {
      background-position: 0% 2%;
    }
  }
}
