@import '../../index.scss';

.adminContainer {
 // height:100%;
  //min-height: 650px;
  color: white;
  padding-top: 14em;

  h2{
    font-weight: 100;
    padding: 2em;
  }
}
.adminContainer::after {
  content: "";
	background:#101e3e url('../../images/panorama.jpg') no-repeat center;	
	background-size: cover;
	position: fixed;
	opacity: 0.4;
	top: 0; 
	left: 0;
	bottom: 0;
	right: 0;	
	z-index: -1;
}